html, body {
    height: 100%;
    margin: 0;
    padding: 0;
 

  }
.center-skills {
    text-align: center;
}
.about-me-container {
    background-color: black;
    padding-bottom: 20px;
    padding-right: 20px;
}
.skills-container {
    background-color: black;
    padding-bottom: 20px;
    padding-right: 20px;

}
.work-container {
    background-color: black;
    padding-bottom: 20px;
    padding-right: 20px;

}
  .center-content {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

  .jumbotron-fluid {
    position: relative;
    padding: 0;
  }

  .jumbotron-image {
    width: 100%;
    height: auto;
  }

.profile-picture {
    
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin-top: 10px;
 
}

.center-image {
    text-align: center;
}

.jumbotron {
    background-color: black;
}

.code-coming-soon {
    background-image: url(./images/code-coming-soon.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    border: solid 6px white;
    cursor: pointer;
    display: grid;
    align-content: end;
    justify-content:baseline;
    height: 300px;

}


.project-card {
    background-color: white;
    height: 100px;
    
}

.work-container {
    background-color: black;
}
.card-body {
    background-color: black;
 
}

.card-body a.card-title {
    text-decoration: none;
}

.card-body a.card-title:hover {
    background-color: purple;
  }


  .center-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }

 
  .contact-links a {
    margin: 0 10px;
  }